*{
	margin:0;
	padding:0;
}

html{
	background: #14243d;
	background: radial-gradient(ellipse at center, #14243d 0%,#030611 100%);
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

body{
	font: 14px/1.5 Arial, Helvetica, sans-serif;
	color:#fff;
}

a, a:visited, a:hover{
	color:#fff;
	text-decoration: none;
}

/* Stats */

.stats{
	text-align: center;
	margin-top: 80px;
	color: #8C91A0;
	font-size: 13px;
}

.stats span{
	font-weight: bold;
	color: #A2A9BD;
	margin-right: 10px;
}

.fffield{
	padding:2px 2px 2px 2px;
	width: 60px;
	margin-top:10px;
	margin-right:0px;
	margin-bottom:auto;
	margin-left:auto;
	border-style:none;
	border-width:1px;
	font-size:16px;
	text-align:right;
	color:blue;


}

.ffinfo{
	padding:2px 2px 2px 2px;
	width: 120px;
	margin-top:10px;
	margin-right:auto;
	margin-bottom:auto;
	margin-left:0px;
	border-style:solid;
	border-width:1px;
	font-size:16px;
	text-align:center;



}

.bodystyle{
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
	height:100%;
	width:100%;
	position:absolute;
	background:url("./images/bg.jpg");
	/* background-color：rgba(255,255,255,0.2)*/
}
.elementstyle{
	opacity: 1;
	z-index:10;
}
.opacity{background: rgba(0,0,0,1);}
.lt{ background:url("./images/ff1.png") no-repeat; left:1px; top:10px; position:absolute; width:170px; height:170px;}
.rt{ background:url("./images/ff2.png") no-repeat; right:1px;  top:10px; position:absolute; width:170px; height:170px;}
.lb{ background:url("./images/ff3.png") no-repeat; left:1px; bottom:10px; position:absolute; width:170px; height:170px;}
.rb{ background:url("./images/ff4.png") no-repeat; right:1px; bottom:10px; position:absolute; width:170px; height:170px;}
.mac{ background:url("./images/mac.png") no-repeat; left:475px; top:260px; width:170px; position:absolute; height:140px;}
.line1{ left:313px; top:130px; position:absolute;}
.line2{ right:220px; top:130px; position:absolute;}
.line3{ left:313px; bottom:145px; position:absolute;}
.line4{ right:220px; bottom:145px; position:absolute;}
#lost1{ left:1px; top:190px; position:absolute;}
#lost2{ right:-135px; top:190px; position:absolute;}
#lost3{ left:1px; bottom:70px; position:absolute;}
#lost4{ right:-130px; bottom:70px; position:absolute;}
#retreat1{ left:-1px; top:220px; position:absolute;}
#retreat2{ right:-1px; top:220px; position:absolute;}
#retreat3{ left:-1px; bottom:100px; position:absolute;}
#retreat4{ right:0px; bottom:100px; position:absolute;}
#surplusElectricity1{ left:215px; top:16px; width:200px; height: 120px; position:absolute;}
#surplusElectricity2{ right:145px; top:16px; width:200px; height: 120px; position:absolute;}
#surplusElectricity3{ left:215px; bottom:50px; width:200px; height: 120px; position:absolute;}
#surplusElectricity4{ right:145px; bottom:50px; width:200px; height: 120px; position:absolute;}
progress::-webkit-progress-bar { background: white; }
progress{ background: green; }
